jobs:
  build-and-upload:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies (toolchain + qemu)
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential python3 \
            gcc-riscv64-unknown-elf binutils-riscv64-unknown-elf \
            qemu-system-misc qemu-utils \
            curl unzip
          riscv64-unknown-elf-gcc --version

      - name: Install AWS CLI v2
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -q awscliv2.zip
          sudo ./aws/install --update
          aws --version

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::375523929203:role/tinyos-github-builder
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com

      - name: STS sanity check
        run: aws sts get-caller-identity
